/* ----- GLOBAL PROPS START ----- */
:root {
     --beige: #e8c39e;
     --light-purple: #2f2c79;
     --dark-purple: #000020;
}

::selection {
     background: var(--light-purple);
     color: white;
}

::-webkit-scrollbar {
     display: none;
}

* {
     font-family: "Century Gothic";
     font-weight: 300;
}

body {
     background-color: var(--dark-purple);
}

@font-face {
     font-family: "Century Gothic";
     src: local("GOTHIC"), url(/src/assets/fonts/GOTHIC.TTF) format("TTF");
}

.prevent-drag {
     -webkit-user-drag: none;
     -khtml-user-drag: none;
     -moz-user-drag: none;
     -o-user-drag: none;
}

.circle {
     filter: blur(30px);
     animation: circles-motion linear infinite normal both;
}
.beige-background {
     background-color: var(--beige);
}
.light-purple-background {
     background-color: var(--light-purple);
}
.light-purple-border {
     border-color: var(--light-purple) !important;
}

.form-control:focus {
     box-shadow: none !important;
}

:focus-visible {
     outline: none !important;
}

input {
     background: none !important;
}

::placeholder {
     /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: white !important;
     opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder {
     /* Internet Explorer 10-11 */
     color: white !important;
}

::-ms-input-placeholder {
     /* Microsoft Edge */
     color: white !important;
}
.btn-hover {
     transition: 0.5s;
}
.btn-hover:hover {
     background-color: white !important;
     color: var(--dark-purple) !important;
}
.book-mark {
     transition: 0.5s;
}
.btn-hover:hover .book-mark {
     transform: translateY(8px) scaleY(1.2);
}

/* ----- GLOBAL PROPS END ----- */
/* -------------------------------------------------------- */

/* ----- LOGIN PAGE START ----- */
.login-form {
     height: 700px;
}
/* ----- LOGIN PAGE END ----- */

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* ---------- MEDIA QUERIES START -------------------- */
@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1260px) {
}

@media only screen and (max-width: 1088px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (max-width: 577px) {
}

/* -------------- ANIMATIONS START------------------------- */

@keyframes fade-in {
     from {
          opacity: 0;
     }
     to {
          opacity: 1;
     }
}

@keyframes fade-out {
     from {
          opacity: 1;
     }
     to {
          opacity: 0;
     }
}

@keyframes load-line {
     0% {
          width: 0;
     }
     10% {
          width: 5%;
     }
     20% {
          width: 15%;
     }
     30% {
          width: 25%;
     }
     40% {
          width: 30%;
     }
     50% {
          width: 44%;
     }
     60% {
          width: 50%;
     }
     70% {
          width: 72%;
     }
     80% {
          width: 84%;
     }
     90% {
          width: 92%;
     }
     100% {
          width: 100%;
     }
}

@keyframes circles-motion {
     0%,
     100% {
          transform: translateX(0);
     }

     10%,
     30%,
     50%,
     70% {
          transform: translateX(-10px) scale(1.1);
     }

     20%,
     40%,
     60% {
          transform: translateX(10px) scale(1.2);
     }

     80% {
          transform: translateX(8px) scale(1.6);
     }

     90% {
          transform: translateX(-8px) scale(1.1);
     }
}
/* -------------------------------------------------------- */
